snippet ,b "bold" A
\textbf{$1}
endsnippet

snippet ,i "italics" A
\textit{$1}
endsnippet

snippet ,f "fraction" A
\frac{$1}{$2}
endsnippet

snippet ,m "inline math" A
\$$1\$
endsnippet

snippet ,M "block math" A
\$\$
$1
\$\$
endsnippet

snippet ,e "environment" A
\begin{$1}
$0
\end{$1}
endsnippet
