extends typescript

snippet ,co "React component" A
import {ReactNode} from 'react';

const `!p snip.rv = fn.split('.')[0]` = (): ReactNode => {
  ${2:return null;}
};

export default `!p snip.rv = fn.split('.')[0]`;
endsnippet

snippet ,pr "props type declaration" A
type `!p snip.rv = fn.split('.')[0]`Props = {
  ${1:// TODO: implement}
};
endsnippet

snippet ,pd "props destructuring" Ai
{$1}: `!p snip.rv = fn.split('.')[0]`Props
endsnippet
