snippet ,c "inline code" Ai
\`$1\`
endsnippet

snippet ,C "code block (raw)" A
\`\`\`$1
\`\`\`
endsnippet

snippet ,m "inline math" Ai
\$$1\$
endsnippet

snippet ,M "block math" A
\$
$1
\$
endsnippet

snippet ,ta "table" A
#table(
	columns: ${1:3},
	$2
)
endsnippet

snippet ,th "table header" Ai
table.header($1),
endsnippet

snippet ,tc "table cell" Ai
table.cell($1),
endsnippet

snippet ,b "bold" Ai
*$1*
endsnippet

snippet ,i "italic" Ai
_$1_
endsnippet
